.parentContainer{
    border: 2px solid red;
    display: grid;
    height: 90vh;
    /* row - column wli implementation */
    /* grid-template-columns: 120px 100px;
    grid-template-rows: 100px 100px 100px; */
    grid-template-rows: repeat(3,minmax(100px,1fr));
    grid-template-areas: "nav nav nav"
    "side article article"
    "footer footer footer";
    /* justify-content ko poori grid ko inside container adjust krne ke liye use kr skte hai */
    /* justify-content:center; */
    justify-items:center;
    align-items:center;
}

.item{
    width:50px;
    height:50px;
    background-color: green;
    border: 2px solid blue;
}

.item1{
    background-color: aqua;
    border: 2px solid blue;
    grid-area: nav;
    width:50px;
    height:50px;
    justify-self:flex-start;
}
.item2{
    width:50px;
    height:50px;
    background-color: yellow;
    grid-area:footer;
    border: 2px solid blue;
}
.item3{
    width:50px;
    height:50px;
    background-color: red;
    grid-area:side;
    border: 2px solid blue;
    justify-self:end;
    align-self:start;
}


.item4{
    width:50px;
    height:50px;
    background-color: green;
    border: 2px solid blue;
    
    /* grid-row-column method */
    /* grid-row: 1/2;
    grid-column:2/3; */
    /* grid-row:1;
    grid-column:2; */
}

.item5{
    width:50px;
    height:50px;
    background-color: aqua;
    border: 2px solid blue;
}