.outerDiv{
    /* width: 300px;
    height: 300px; */
    padding: 30px;
    /* border: 1px solid red; */
    background: green;
    position: relative;
    display: flex;
    flex-direction: row;
}


/* 1st approach to center div: transform:translate with position absolute */

/* .middleDiv{
    width: 60px;
    height: 60px;
    background: red;
    position: relative;
}

.innerDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    background:blue;
} */

.middleDiv{
    width: 60px;
    height: 60px;
    background: red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerDiv{
    position: relative;
    width: 40px;
    height: 40px;
    background:blue;
}