.grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 4px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  cursor: pointer;
}

.white {
  background-color: white;
}

.blue {
  background-color: dodgerblue;
}
